1. User will input (3ages).Find the oldest one

In [1]:
age1 = int(input("Enter your Age: "))
age2 = int(input("Enter your Age: "))
age3 = int(input("Enter your Age: "))

old_age = max(age1,age2,age3)
print("The Oldest age is: ", old_age)

Enter your Age: 25
Enter your Age: 34
Enter your Age: 12
The Oldest age is:  34

2. Write a program that will convert celsius value to fahrenheit in Python

In [2]:
celsius = float(input("Enter a celsius temparature :"))

fahrenheit = (celsius * 9/5) + 32

print("The fahrenheit temparature of the celsius value", celsius, "is", fahrenheit, "degree fahrenheit.")

Enter a celsius temparature :44
The fahrenheit temparature of the celsius value 44.0 is 111.2 degree fahrenheit.

3. User will input (2numbers).Write a program to swap the numbers

In [3]:
num1 = float(input("Enter the 1st Number: "))
num2 = float(input("Enter the 2nd Number: "))

swap = num1
num1 = num2
num2 = swap

print("After swapping:")
print("First number:", num1)
print("Second number:", num2)

Enter the 1st Number: 45
Enter the 2nd Number: 21
After swapping:
First number: 21.0
Second number: 45.0

4. Write a program that will give you the sum of 3 digits

In [4]:
digit1 = int(input("Eenter the first digit: "))
digit2 = int(input("Eenter the second digit: "))
digit3 = int(input("Eenter the third digit: "))

sum = digit1 + digit2 + digit3

print(f"The sum of {digit1}, {digit2}, and {digit3} is: {sum}")

Eenter the first digit: 4
Eenter the second digit: 6
Eenter the third digit: 8
The sum of 4, 6, and 8 is: 18

5. Write a program that will reverse a four digit number.Also it checks whether
 the reverse is true.

In [5]:
number = int(input("Enter the four digit number: "))

if 1000 <= number <= 9999:

  reverse_number = int(str(number)[::-1])

  if number == reverse_number:
    print(f"The number {number} is a palindrome.")
  else:
    print(f"The reverse of {number} is {reverse_number}.")
else:
  print("Please enter a valid four digit number.")

Enter the four digit number: 1999
The reverse of 1999 is 9991.

6. Write a program that will tell whether the number entered by the user is odd or even.

In [6]:
number = int(input("Enter a Number: "))

if number % 2 == 0:
  print(f"The number is an even number.")
else:
  print(f"The number is an odd number.")

Enter a Number: 10
The number is an even number.

7.Write a program that will tell whether the given year is a leap year or not.

In [7]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

8.Write a program to find the euclidean distance between two coordinates.

In [8]:
import math

# Input the coordinates of the first point
x1 = float(input("Enter the x-coordinate of the first point: "))
y1 = float(input("Enter the y-coordinate of the first point: "))

# Input the coordinates of the second point
x2 = float(input("Enter the x-coordinate of the second point: "))
y2 = float(input("Enter the y-coordinate of the second point: "))

# Calculate the Euclidean distance
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Display the result
print(f"The Euclidean distance between ({x1}, {y1}) and ({x2}, {y2}) is: {distance}")

Enter the x-coordinate of the first point: 25
Enter the y-coordinate of the first point: 30
Enter the x-coordinate of the second point: 15
Enter the y-coordinate of the second point: 20
The Euclidean distance between (25.0, 30.0) and (15.0, 20.0) is: 14.142135623730951

9. Write a program that take a user inputr of three angles and will find out whether it can form a triangle or not.

In [9]:
angle1 = int(input("Enter the first angle: "))
angle2 = int(input("Enter the second angle: "))
angle3 = int(input("Enter the third angle: "))


if angle1 + angle2 + angle3 == 180:
    print("The angles can form a triangle.")
else:
    print("The angles cannot form a triangle.")

Enter the first angle: 19
Enter the second angle: 22
Enter the third angle: 40
The angles cannot form a triangle.

10.Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [10]:
cost_price = float(input("Enter the cost price: "))
selling_price = float(input("Enter the selling price: "))

profit_loss = selling_price - cost_price

if profit_loss > 0:
    print(f"You made a profit of {profit_loss:.2f}.")
elif profit_loss < 0:
    print(f"You incurred a loss of {abs(profit_loss):.2f}.")
else:
    print("You broke even; there's neither a profit nor a loss.")

Enter the cost price: 50
Enter the selling price: 45
You incurred a loss of 5.00.